UbiGame.sln
SFML-2.5.0
.vs
UbiGame.VC.db
x64/
UbiGame/UbiGame.vcxproj
UbiGame/UbiGame.vcxproj.user
UbiGame/Debug/
UbiGame/x64/Release/
x64/Release/
/UbiGame/UbiGame.vcxproj
UbiGame/x64/Debug/UbiGame.tlog/CL.command.1.tlog
UbiGame/x64/Debug/UbiGame.tlog/CL.read.1.tlog
UbiGame/x64/Debug/UbiGame.tlog/CL.write.1.tlog